@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Roboto&display=swap');

:root {
  --primary-color: #4B0082;
  --secondary-color: #808080;
  --barlow-font: 'Barlow', sans-serif;
  --roboto-regular: 'Roboto', sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculate-area a {
  text-decoration: none;
}

.calculate-area {
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.calculate-area .boxes {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

}

.calculate-area .boxes .box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 35px;
  transition: transform .3s ease-out;
  cursor: pointer;
  margin: 15px;

}

.calculate-area .boxes .box:hover {
  transform: translateY(-3px);
}

.calculate-area .boxes .box .box-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.calculate-area .boxes .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.calculate-area .boxes .box .box-content {
  display: flex;
  flex-direction: column;
  gap: 2px;

}

.calculate-area .boxes .box .box-content .box-title {
  font-size: 23px;
  font-family: var(--barlow-font);
  color: var(--primary-color);
}

.calculate-area .boxes .box .box-content .box-desc {
  font-size: 16px;
  font-family: var(--roboto-regular);
  color: var(--secondary-color);
}

.calculate-area .boxes .box .box-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  overflow: hidden;
}

.calculate-area .boxes .box .box-icon img {
  width: 100%;
  height: 100%;

}


/**!! Calculate Area **/

.calc-area {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px 35px;
}

.calc-area .close-btn {
  text-align: end;
  position: absolute;
  top: 5px;
  right: 5px;
  left: auto;
  width: 37px;
  height: 37px;
  transition: .3s ease-out;
  cursor: pointer;
}

.calc-area .close-btn:hover {
  opacity: .8;
}


.calc-area .close-btn img {
  width: 37px;
  height: 37px;
}


.calc-container {
  margin-top: 5px;
}

.calc-container .title {
  font-size: 36px;
  line-height: 44px;
  color: #171a1d;
  font-family: var(--barlow-font);
  margin-bottom: 32px;
  text-align: center;
  margin-top: 15px;
  padding-top: 45px;
}

.calc-container .calc-response {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.calc-container .calc-response .calc-response-img {
  width: 100px;
  height: 100px;
  text-align: center;

}

.calc-container .calc-response .calc-response-img img {
  width: 100%;
  height: 100%;
}

.calc-container .calc-response .calc-response-box {
  border: 1px solid #cbccd0;
  padding: 17px;
  height: 128px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}

.calc-container .calc-response .box-title {
  font-size: 36px;
  line-height: 44px;
  font-family: var(--barlow-font);
  text-align: center;
}

.calc-container .calc-response .calc-response-box .response-title {
  font-size: 16px;
  line-height: 24px;
  color: #65666a;
  font-family: var(--roboto-regular);
}

.calc-container .calc-response .calc-response-box .response-text {
  font-size: 28px;
  line-height: 30px;
  color: #171a1d;
  font-family: var(--barlow-font);
}

.calc-container .calc-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-container .calc-form .form-group {
  margin: 0;
  padding: 0;
}

.calc-container .calc-form .form-group .form-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.calc-container .calc-form .form-group .form-item label {
  font-size: 17px;
  display: block;
  line-height: 28px;
  color: #171a1d;
  margin-bottom: 8px;
  font-family: var(--roboto-regular);
  text-align: start;
}

.calc-container .calc-form .form-group .form-item input {
  width: 100%;
  height: 52px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
  font-family: var(--roboto-regular);
  font-size: 16px;
  color: #65666a;
  border: 1px solid #9d9ea1;
  border-radius: 4px;
}

.calc-container .calc-form .form-group .form-item button {
  text-align: center;
  height: 52px;
  border: 1px solid var(--secondary-color);
  background-color: rgba(75, 0, 130, .9);
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 17px;
  transition: .2s ease-in;
}

.calc-container .calc-form .form-group .form-item button:hover {
  background-color: rgba(75, 0, 130, .8);
  color: #fff;
}

.calc-container .calc-form .form-group .form-item .radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calc-container .calc-form .form-group .form-item .radio-group input[type="radio"] {
  display: none;
}

.calc-container .calc-form .form-group .form-item .radio-group label img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  padding: 5px;
}

.calc-container .calc-form .form-group .form-item .radio-group input[type="radio"]:checked+label {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 5px;
}

.calc-container .calc-form .form-group .form-item .gender-group {
  display: flex;
  justify-content: start;
  text-align: start;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}